* {
  /* outline: 2px solid black; */
}

.main {
  font-family: Tahoma, sans-serif;
  background-color: aliceblue;
  width: 800px;
  margin: 20px auto;
  /* border: 2px solid black; */
}

.food-poem {
  text-align: center;
  margin-top: 30px;
}

.author {
  text-align: center;
  padding-bottom: 30px;
  border-bottom: 3px solid black;
}

.recipe {
  /* background-color: #e3f4ff; */
  padding: 20px;

  }

.list-child {
  /* padding: 8px; */
  margin-left: 20px;
}

.title-recipe {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 25px;
  border-bottom: 3px solid black;
}

img {
  display: block;
  margin: 40px auto 20px auto;
  border: 2px solid black;

}

.caption {
  text-align: center;
  font-size: 14px;
  margin-top: -10px;
  padding-bottom: 15px;
  border-bottom: 3px solid black;
}

.recipe-main {
  font-family: Tahoma, sans-serif;
  max-width: 1200px;
  margin: auto;
  background-color: aliceblue;

}

.text-recipe {
  box-sizing: border-box;
  margin-left: 10px;
  padding-left: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
  /* outline: 2px solid black; */
}

li {
  margin-top: 8px;
}


